<p>menu works!</p>
<!--
<nav><ul>
    <li *ngIf="!esAdmin">
        <a href="/">login</a>
    </li>
    <li *ngIf="esAdmin">
        <a href="/formulario">formulario</a>
    </li>
    <li *ngIf="!esAdmin">
        <a routerLink="/">login</a>
    </li>
    <li *ngIf="esAdmin">
        <a routerLink="/formulario">formulario</a>
    </li>
    <li *ngIf="esAdmin">
        <a routerLink="/form">form</a>
    </li>
    <li *ngIf="esAdmin">
        <a routerLink="/ejercicio">ejercicio</a>
    </li>
    <li  *ngIf="esAdmin">
        <input type="button" (click)="salir()" value="salir">
    </li>
</ul> </nav>


<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="...">
            </a>
          </div>
        </div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
        <li>
        </ul>
        <ul class="nav nav-pills">
                ...
            <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                ...
            </ul>
            </li>
        </ul>
   
</nav>

-->