<p>recuperar-password works!</p>
<div class="container fluid">
    <div class="body">
        <form class="recu-form">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nuevo Password</mat-label>
                <input type="password" matInput placeholder="Password" >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Repetir Password</mat-label>
                <input type="password" matInput placeholder="Repetir Password" >
            </mat-form-field>
            <mat-button-toggle>
                <button type="button" value="Button" class="btn btn-primary btn-block text-center">Registrar</button> 
            </mat-button-toggle>
        </form>   
    </div>
</div>
