<p>formulario works!</p>

<div class="row" >
    <table>
   <!--<table *ngFor="let itemCol of columnas" >-->
   <tr> 
        <td>Nombre</td>   
        <td>Apellido</td>
        <td>tipoDocumento</td>
        <td>Documento</td>
   </tr> 
    <tr *ngFor="let item of nombres" >
       <!--
        <td >
           <label *ngIf="modificar!=item.id">{{item.nombre}}</label>
            <input  *ngIf="modificar==item.id" type="text" name="nombre{{item.id}}"[(ngModel)]="item.nombre">
        </td>-->
        <td ><input type="text" [value]="item.id"></td>
        <td ><input type="text" [value]="item.nombre"></td>
        <td ><input type="text" [value]="item.apellido"></td>
        <td ><input type="text" [value]="item.tipoDocumento"></td>
        <td ><input type="text" [value]="item.documento"></td>             
        <input type="button" (click)="modificar(item.id)" value="Modificar"  id="btnModificar">
    </tr>
</table>
    
</div>
<div >

</div>
<hr>
<div *ngFor="let item of nombres"  class="row">
    <input type="text" [value]="item.nombre">
    <input type="text" [value]="item.apellido">
    <input type="text" [value]="item.tipoDocumento"> 
    <input type="text" [value]="item.documento">    
</div>
