<p>login works!</p>
<div class="container fluid">
    <div class="body">
        <form class="login-form">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nombre de usuario</mat-label>
                <input type="text" name="nombre" matInput placeholder="Usuario" [(ngModel)]="usuario.nombre">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" name="clave" matInput placeholder="Password" [(ngModel)]="usuario.clave" >
            </mat-form-field>
            <p>¿Olviste la contraseña?<a href="recuperar"> Click aquí</a></p>
            <mat-button-toggle>
                <button type="button" (click)="loginUser()" class="btn btn-primary">Ingresar</button> 
            </mat-button-toggle>
            <p>¿Todavía no estas registrado? <a href="registrarse"> Registrate!</a> </p> 
        </form>
    </div>
</div>


<!-- 
<footer> 
<div class="container">
    <div class="body col-md-4 offset-md-4">
        <div class="row p-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" id="user" name="user" placeholder="ingrese usuario" class="from-group">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-default" value="Ingresar">
                            </div> 
                        </form>
                        <span id="response"></span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

    <div class="jumbotron text-center">
      <h1>Company</h1>
      <p>We specialize in blablabla</p>
    </div>
</footer>
-->