<p>registrarse works!</p>
<div class="container fluid">
    <div class="body">
        <form class="registrarse-form">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Nombre" >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Apellido</mat-label>
                <input type="text" matInput placeholder="Apellido" >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Correo</mat-label>
                <input type="text" matInput placeholder="Correo" class="from-control">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Repetir Password</mat-label>
                <input type="password" matInput placeholder="Repetir Password" >
            </mat-form-field>
            <mat-button-toggle>
                <button type="button" value="Button" class="btn btn-danger">Registrarse</button> 
            </mat-button-toggle>
            <p>¿Ya estas registrado?<a href="login"> Iniciar sesión!</a></p>
        </form>
    </div>
</div>